# LVGL 颜色格式：16位 RGB565 匹配 ST7789 LCD
CONFIG_LV_COLOR_DEPTH_16=y
CONFIG_LV_FONT_MONTSERRAT_14=y
CONFIG_USJ_NO_AUTO_LS_ON_CONNECTION=y
CONFIG_ESP_TASK_WDT_TIMEOUT_S=15
CONFIG_CAMERA_AF_SUPPORT=y

# Power manager / automatic Light Sleep support.
CONFIG_PM_ENABLE=y
CONFIG_FREERTOS_USE_TICKLESS_IDLE=y
CONFIG_FREERTOS_IDLE_TIME_BEFORE_SLEEP=3
